<h1>The Wall</h1>
<h3>Welcome <%= @user %></h3>
<form action="/posts/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="content">
  <input type="submit" value="Submit Post">
</form>

<% @posts.each do |post| %>
  <h5><%= post.content %> (<%= post.created_at.strftime('%m/%d/%y at %I:%M:%P') %>)</h5>
  <form action="/comments/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" value="<%= post.id %>" name="id">
    <input type="text" name="content">
    <input type="submit" value="Submit Comment">
  </form>
  <% @comments.each do |comment|%>
    <% if comment.post.id == post.id %>
      <p><%= comment.content %></p>
    <% end %>
  <% end %>
<% end %>
