<h1 style="display: inline-block;">The Wall</h1><h3 style="display: inline-block; margin-left: 100px;"><a href="/users/logout" data-method="post">Logout</a></h3>
<h2>Welcome <%= @user %></h2>
<form action="/posts/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="content" style="width: 300px; height: 40px;">
  <input type="submit" value="Submit Post">
</form>

<% @posts.each do |post| %>
  <h3 style="display: inline-block;"><%= post.user.username %> - <%= post.created_at.strftime('%m/%d/%y at %I:%M%P') %> - <%= post.content %> </h3>
  <% if post.user_id == session[:user_id] %>
    <a href="/posts/<%= post.id %>" data-method="delete" style="color: red;">Delete</a>
  <% end %>
  <% @comments.each do |comment|%>
    <% if comment.post.id == post.id %>
      <p style="margin-left: 30px;"><%= comment.user.username %> - <%= comment.created_at.strftime('%m/%d/%y at %I:%M%P') %> - <%= comment.content %>
      <% if comment.user_id == session[:user_id]%>
        <a href="/comments/<%= comment.id %>" data-method="delete" style="color: red;">Delete</a>
      <% end %>
      </p>
    <% end %>
  <% end %>
  <form action="/comments/create" method="post" style="margin-left: 30px;">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" value="<%= post.id %>" name="id">
    <input type="text" name="content">
    <input type="submit" value="Submit Comment">
  </form>
<% end %>
